<div class="col-12">
    <div class="row bg-primary text-white p-1 rounded-top">
        System and Connection Status
    </div>
    <div class="row p-1">
        <p class="h6">Status:&nbsp;</p>
        <p class="h6 " [ngClass]="server.mainStatus?.status == 'Connected' ? 'text-success' : 'text-danger'">{{server.mainStatus?.status}}</p>
    </div>
    <div class="row p-1">
        <p class="h6">Date:&nbsp;</p>
        <p class="h6 text-success" id="date">{{currentDate | date}}</p>
    </div>
    <div class="row p-1">
        <p class="h6">Time:&nbsp;</p>
        <p class="h6 text-success" id="time">{{currentDate | date: 'mediumTime'}}</p>
    </div> 
    <div class="row p-1">
        <p class="h6">Temperature:&nbsp;</p>
        <p class="h6 text-danger">{{server.mainStatus?.temperature}}</p>
    </div>
    <div class="row p-1">
        <p class="h6">Water Level:&nbsp;</p>
        <p class="h6"  [ngClass]="server.mainStatus?.waterLevel > 50 ? 'text-success' : 'text-danger'">{{server.mainStatus?.waterLevel}}%</p>
    </div>
    <div class="row p-1">
        <p class="h6">Mode:&nbsp;</p>
        <p class="h6 text-success">{{server.mainStatus?.mode}}</p>
    </div>
    <span class="text-white"><hr color="white" class="p-0 m-0"></span>
    <div class="row p-1 d-flex align-items-center">
        <img src="../../assets/wheels.png" height="50px" alt="Obstacle" class="pr-2">
        <span class="h4 text-info"> {{ping}} cm </span>
    </div>
</div>