<div class="container-fluid main text-white bg-dark">
    <div class="row bg-primary">
        <div class="col">
            <div class="row p-1">Video Stream / System Status
                <div class="ml-2 custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input bg-success" id="customSwitch2"
                        [(ngModel)]="trigger" (change)="triggerVideo()">
                    <label class="custom-control-label" for="customSwitch2" style="cursor: pointer;"> </label>
                </div>
            </div>
        </div>
    </div> 
    <div class="row" [ngClass]="{'bg-image': socketService.streamFrame[0] != 'd'}">
        <div class="col-12">
            <div class="row">
                <img [hidden]="!trigger" class="p-0 m-0 mx-auto col-md-7" [src]="socketService.streamFrame | safe" alt="Loading..."
                    [ngClass]="{'bg-image': socketService.streamFrame[0] != 'd'}">
                <iframe [hidden]="trigger" class="col-12 p-0 m-0 mx-auto" [src]="socketService.statusUrl | safe"
                    frameborder="0" [ngClass]="{'bg-image': socketService.statusUrl?.length < 1}"></iframe>
            </div>
        </div>
    </div>
</div>