.main{
    height: 49.8vh;
}
iframe{
    height: 46vh;
}
img {
    height: 46vh;
}
.bg-image{
    background-image: url('../../assets/videoLoad.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.custom-control{
    padding: 0px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 1px;
}