<div class="container-fluid main text-white bg-dark">
    <div class="row">
        <div class="col-12 bg-primary">
            <div class="row p-1">Server Status</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <iframe *ngIf="socketService.videoUrl?.length" class="col-md-8 p-0 m-0 mx-auto" [src]="socketService.videoUrl"
                    frameborder="0" [ngClass]="{'bg-image': socketService.videoUrl?.length < 1}"></iframe>
            </div>
        </div>
    </div>
</div>
