<div class="container-fluid main text-white bg-dark">
    <div class="row bg-primary">
        <div class="col">
            <div class="row p-1">Pi Stream
                <div class="ml-2 custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input bg-success" id="customSwitch2"
                        [(ngModel)]="trigger">
                    <label class="custom-control-label" for="customSwitch2"> </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <iframe *ngIf="trigger" class="col-md-8 p-0 m-0 mx-auto" [src]="socketService.videoUrl | safe"
                    frameborder="0" [ngClass]="{'bg-image': socketService.videoUrl?.length < 1}"></iframe>
                <div *ngIf="!trigger" class="col-md-8 p-0 m-0 mx-auto text-center pt-5"
                    frameborder="0">
                Video Turned Off</div>
            </div>
        </div>
    </div>
</div>