<div class="container-fluid bg-dark text-white">
  <div class="row" id="home">
    <div class="col-sm-5 col-lg-3" id="left-part">
      <div class="row  overflow-auto" id="left-fhalf">
        <app-status style="width: 100%;"></app-status>
      </div>
      <div class="row border  border-top-0 border-bottom-0" id="left-shalf">
        <app-manual style="width: 100%;"></app-manual>
      </div>
    </div>
    <div class="col-sm-7 col-lg-9" id="right-part">
      <div class="row border border-top-0 border-bottom-0 rounded">
        <app-video style="width: 100%;"></app-video>
      </div>
      <div class="row  rounded overflow-hidden" id="right-shalf">
        <div class="col-sm-6 border-top-0 border-bottom-0 rounded bg-dark" id="right-bottom-left">
          <app-terminal style="width: 100%;"></app-terminal>
        </div>
        <div class="col-sm-6 border  border-top-0 border-bottom-0 rounded" id="right-map">
          <app-map style="width: 100%;"></app-map>
        </div>
      </div>
    </div>
  </div>
</div>