<div class="row">
    <div class="col-12 ">
        <div class="row bg-primary text-white p-1 rounded-top">Command Line</div>
    </div>
</div>
<div class="row px-2 text-white" id="terminal-display">
    Nothing To Show_
</div>
<div class="row col-12 rounded p-1" id="command-input">
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Type a command to send" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-success" type="button">Send</button>
        </div>
    </div>
</div>