<div class="row bg-primary">
    <div class="col-10">
        <div class="row text-white p-1 rounded-top">Command Line</div>
    </div>
    <div class="col-2">
        <div class="row">
            <button class="ml-auto btn btn-sm btn-danger" (click)="server.terminalLog=''"><i class="far fa-trash-alt"></i></button>
        </div>
    </div>
</div> 
<div class="row px-2" id="terminal-display">
    <pre class="text-white">{{server.terminalLog}}</pre>
</div>
<div class="row col-12 rounded p-1" id="command-input">
    <div class="input-group input-group-sm">
        <input [(ngModel)]="currentCommand" type="text" class="form-control" placeholder="Type a command to send"
            aria-label="Recipient's username" aria-describedby="basic-addon2" (keydown.enter)="onSubmit()">
        <div class="input-group-append">
            <button class="btn btn-success" type="button" (click)="onSubmit()">Send</button>
        </div>
    </div>
</div>